.cart__item-wrap {
  width: 100%;
  display: block;
  padding: 0.5%;
  border-bottom: 1px solid orange;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}

.item__num {
  width: 3%;
  text-align: center;
  border: 1px solid orange;
  border-radius: 5rem;
  background-color: #181a1c;
}

.item__info {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item__photo {
  width: 20%;
  height: 100%;
  border-radius: 0.5rem;
  border: 0.2px solid orange;
}

.item__detail {
  width: 80%;
  height: 100%;
  padding: 1%;
}

.item__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 5px rgb(88 68 68), 0 0 2px rgb(88 19 19), 0 0 3px rgb(164 45 45), 0 0 5px rgb(150 33 33);
  border-bottom: 1px solid wheat;
}

.item__title-text {
  color: wheat;
  padding-bottom: 1%;
}

.item__desc {
  padding-top: 1%;
  color: wheat;
  font-size: 80%;
  text-align: center;
}

.item__other {
  padding-top: 1%;
  display: flex;
  align-items: end;
  justify-content: space-around;
}

.item__rating,
.item__discount {
  color: #d2b06f;
  font-size: 80%;
}

.item__control {
  width: 15%;
}

.stock__control,
.price__control {
  display: flex;
  color: #d2b06f;
  align-items: center;
  justify-content: center;
  margin: 7%;
}

.number__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 150%;
}

.number__control span {
  font-size: inherit;
}

.plus__button,
.minus__button {
  width: 2rem;
  height: 2rem;
  background-color: #181a1c;
  border-radius: 10rem;
  font-size: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border: 1px solid orange;
  transition: all 0.5s;
}

.plus__button:hover,
.minus__button:hover {
  background-color: #373636;
  text-shadow: 0 0 8px rgb(184 24 24), 0 0 10px red, 0 0 13px red, 0 0 17px red;
  transition: all 0.5s;
}
